<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %t %5p %c{1} - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="pt.softinsa.com" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>